<h1>Listing lands</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Seller</th>
      <th>Size</th>
      <th>Price</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lands.each do |land| %>
      <tr>
        <td><%= land.name %></td>
        <td><%= land.location %></td>
        <td><%= land.seller %></td>
        <td><%= land.size %></td>
        <td><%= land.price %></td>
        <td><%= land.image %></td>
        <td><%= link_to 'Show', land %></td>
        <td><%= link_to 'Edit', edit_land_path(land) %></td>
        <td><%= link_to 'Destroy', land, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Land', new_land_path %>
